
      <div class="sansarFooter" id="sansarFooter">
    <div class="footerNav">
      <div class="container">
        <ul>
          <li>
            <h6 class="title">Sansar</h6>
          </li>
          <li>
              <a href="https://atlas.sansar.com">Atlas</a>
          </li>
          <li>
              <a href="https://store.sansar.com">Store</a>
          </li>
          <li>
            <a href="https://www.sansar.com/download">Download</a>
          </li>
          <li>
              <a href="https://account.sansar.com/subscriptions">Subscribe</a>
          </li>
          
          <li>
              <a href="https://help.sansar.com/hc/en-us/community/topics">Community</a>
          </li>
          <li>
            <a href="https://help.sansar.com">Help Center</a>
          </li>
        </ul>
        <ul>
          <li>
              <h6 class="title">Linden Lab</h6>
          </li>
              <li>
                <a href="https://lindenlab.com/about" target="_blank" rel="noopener noreferrer">
                    About
                </a>
              </li>
              <li>
                <a href="https://lindenlab.com/tos" target="_blank" rel="noopener noreferrer">
                  Terms of service
                </a>
              </li>
              <li>
                <a href="https://lindenlab.com/tos" target="_blank" rel="noopener noreferrer">
                  Terms of service
                </a>
              </li>
              <li>
                <a href="https://www.sansar.com/terms" target="_blank" rel="noopener noreferrer">
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a href="https://lindenlab.com/privacy" target="_blank" rel="noopener noreferrer">
                  Privacy
                </a>
              </li>
          <ul class="indentList">
          </ul>
        </ul>
        <ul>
          <li><h6 class="title">Follow us</h6></li>
          <li>
              <a href="https://www.facebook.com/SansarOfficial/" target="_blank" rel="noopener noreferrer">
              Facebook
            </a>
          </li>
          <li>
              <a href="https://twitter.com/sansarofficial" target="_blank" rel="noopener noreferrer">
              Twitter
            </a>
          </li>
          <li>
              <a href="https://www.youtube.com/sansar" target="_blank" rel="noopener noreferrer">
              Youtube
            </a>
          </li>
          <li>
              <a href="https://www.flickr.com/photos/sansarofficial" target="_blank" rel="noopener noreferrer">
              Flickr
            </a>
          </li>
          <li>
              <a href="https://www.instagram.com/sansarofficial/" target="_blank" rel="noopener noreferrer">
              Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      © 2020 Linden Research, Inc. All Rights Reserved
    </div>
  </div>

