<header role="banner" class="_header">
    <nav role="navigation" class="_navbar">
        <ul role="menubar" class="desktop-only _left">
            <li role="menuitem">
                <div class="_logoLink"></a><img class="_logo"
                        src="https://sansarweb-media-production.akamaized.net/web128x128Blue.png" alt="Home Link Logo">
                </div>
            </li>
        </ul>
        <ul role="menubar" class="mobile-only">
            <li role="menuitem">
            </li>
            <li role="menuitem"></li>
            <div class="_logoLink"><img class="_logo"
                    src="https://sansarweb-media-production.akamaized.net/web128x128Blue.png"></div>
        </ul>
        <ul role="menu" class="mobile-only _right">
            <li role="menuitem" style="margin-left: 4px!important">
                <button id="open-mobile-nav" class="_menuBtn _btn _btn-icon-only"><span
                        class="_menuIcon _ion-android-menu"></span><span class="visuallyHidden">open full screen
                        navigation</span></button>
            </li>
        </ul>
        <div id="mobile-nav" class="mobile-only _mobileNavWrapper">
            <div class="_mobileNav">
                <button id="close-mobile-nav" class="_closeMobileNav _btn _btn-icon-only"><span
                        class="_closeIcon _ion-android-close"></span><span class="visuallyHidden">close full screen
                        navigation</span></button>
            </div>
        </div>
    </nav>
</header>
<script>
    $(document).ready(function () {
        var openMobileNavButton = document.getElementById('open-mobile-nav')
        openMobileNavButton.addEventListener('click', showMobileNav)

        function showMobileNav() {
            var nav = document.getElementById('mobile-nav')
            nav.classList.add('visibleMobileNav')
        }

        var closeMobileNavButton = document.getElementById('close-mobile-nav')
        closeMobileNavButton.addEventListener('click', hideMobileNav)

        function hideMobileNav() {
            var nav = document.getElementById('mobile-nav')
            nav.classList.remove('visibleMobileNav')
        }
    })
</script>